@model List<Data.Models.Product>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    <p>
        Product Name @Html.TextBox("s")
        <input type="submit" value="Find" />
    </p>
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <table class="table table-bordered">
        <tr>
            <th>Product Name</th>
            <th>Stock</th>
            <th>Price</th>
            <th>Status</th>
            <th>Delete</th>
            <th>Update</th>

        </tr>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.ProductName</td>
                <td>@x.ProductStock</td>
                <td>@x.ProductPrice</td>
                <td>@x.ProductStatus</td>
                <td><a href="/Product/ProductDelete/@x.Id" class="btn btn-danger">Delete</a></td>
                <td><a href="/Product/ProductGet/@x.Id" class="btn btn-success">Update</a></td>
                <td><a href="/Product/Details/@x.Id" class="btn btn-light">Details</a></td>

            </tr>

        }

    </table>


    <div class="total-content">
        <div class="list_of_members">
            <div class="sales" style="background-color:lemonchiffon">
                <div class="icon-text">
                    <h3>Total Stock: @ViewBag.T2</h3>

                </div>
            </div>
        </div>
        <div class="clearfix"></div>

    </div>
    <div class="total-content">
        <div class="list_of_members">
            <div class="sales" style="background-color:lemonchiffon">
                <div class="icon-text">
                    <h3>Average Price: @ViewBag.T3 ₺</h3>

                </div>
            </div>
        </div>
        <div class="clearfix"></div>

    </div>
    <div class="total-content">
        <div class="list_of_members">
            <div class="sales" style="background-color:lemonchiffon">
                <div class="icon-text">
                    <h3>Average Price: @ViewBag.T4 olduğu için kullanılamaz</h3>

                </div>
            </div>
        </div>
        <div class="clearfix"></div>

    </div>


    <a href="/Product/ProductAdd/" class="btn btn-primary">New Product</a>

</body>
</html>
